.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: start;
}

.checkbox-container > div {
  display: flex;
  align-items: center;
}

.sortBox {
  margin-right: 5px;
}

#inputList {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

h2 {
  margin-top: 20px;
}

pre {
  text-align: left;
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
}